Rules

1) You may be skipped at our discretion if you do not label your songs correctly. ex) "Artist - Title (Remix)"
2) Respect the staff and other members of the room. Do not spam the chat, ask to be part of the staff or to receive gifts.
3) Playing "Ear Rape" tracks will result in immediately getting permanently banned.
4) If you want to DJ make sure you are active and "Woot!" other tracks.
5) The room's theme is EDM; You will be skipped if you play other genres.
6) If you play a track that is in the DJ history you will be skipped.
7) Do not play NSFW songs/videos or promote NSFW links in the chat.
8) The maximum length for a song is 10 minutes
9) Do not advertise other communities or external links.
10) Enjoy your time and use common sense.

Disclaimer: The staff of Upcoming Records reserve the right to ban anyone for any reason.
